body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto Mono', monospace;
}

main
{
    width: 95%;
    margin: 0 auto;
}

h1 {
    padding: 20px;
    margin: 0;

    color: white;
    font-size: 2.5em;
    text-align: center;
    
    background-color: #800020;
}

hr
{
    width: 95%;

    background-color: black;
}

.sort_algorithm {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 20px;
}

#last-button
{
    border: none;
}

.sort_algorithm > button {
    /* transition: background-color 0.25s; */

    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 50px;
    border-right: 1px solid black;

    /* Removes unwanted border radius on buttons */
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;

    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
    font-weight: bold;
}

.sort_algorithm > button:hover {
    color: white;

    background-color:#800020;
}

/* .sort_algorithm > button:focus {
    outline: 0;

    color: white;

    background-color: #800020;
} */

#control-panel
{
    display: flex;

    /* background-color: coral; */
}

#instructions
{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 25%;
    margin: 0 auto;
    
    /* background-color: brown; */
}

.wrapper
{
    margin: 25px 0;
    border: 3px solid black;
}

.wrapper > div {
    display: flex;
}

.page-sidebar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 75%;
    margin: 0 auto;
    
    /* background-color: violet; */
}

.page-sidebar > button {
    height: 40%;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 50px;
    border: 2px solid black;

    /* Removes unwanted border radius on buttons */
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;

    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 1.25em;
    font-weight: bold;

    background-color: #800020;
}

.page-sidebar > button[type=range] {
    cursor: pointer;
    margin: 25px;

    background-color: #800020;
}

.page-sidebar > button:hover {
    background-color:#a00000;
}

/* .page-sidebar > button:focus {
    background-color: lightskyblue;
    color: white;
    outline: 0;
} */

/* Array elements */

#array_container{
    position: relative;
    background: rgb(190, 204, 223);
    /* margin: 20px 30px 20px 30px; */
    padding: 100px;
    width: 100%;
    height: 50vh;
    box-shadow: 0 0 10px 0 rgb(190, 204, 223);
    display: flex;
    justify-content: center;
}

#array_container .col{
    bottom: 0;
}

#array_container .col{
    position: relative;
}