body {
    margin: 0;
}



#array_container{
    position: relative;
    background: rgb(190, 204, 223);
    margin: 20px 30px 20px 30px;
    padding: 100px;
    width: 80%;
    height: 70vh;
    box-shadow: 0 0 10px 0 rgb(190, 204, 223);
    display: flex;
    flex-direction: row;
    justify-content: center;
}


#array_container .col{
    bottom: 0;
}



#array_container .col{
    position: relative;
}




h1 {
    color: white;
    font-size: 36px;
    text-align: center;

    background:lightsteelblue;
    padding: 10px;
    margin: 0;
}
.sort_algorithm {
    padding: 15px;
}

.sort_algorithm > button {
    background: none;
    border: skyblue;
    color: black;
    padding: 5px 32px;
    text-align: center;
    font-size: 25px;
}
.sort_algorithm > button:hover {
    background-color:lightblue;
    color: white;
}
.sort_algorithm > button:focus {
    background-color: lightskyblue;
    color: white;
    outline: 0;
}


main {
    margin: 0;
}
.wrapper >div{
    border: 1px solid grey;
    display: flex;
}

.page-sidebar {
    padding: 2px;
}
.page-sidebar > button {
    background: none;
    border: skyblue;
    color: black;
    padding: 5px 32px;
    text-align: center;
    font-size: 15px;
}
.page-sidebar > button[type=range]{
    background-color: skyblue;
    cursor: pointer;
}

.page-sidebar > button:hover {
    background-color:lightblue;
    color: white;
}
.page-sidebar > button:focus {
    background-color: lightskyblue;
    color: white;
    outline: 0;
}
