body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto Mono', monospace;
}

main
{
    width: 95%;
    margin: 0 auto;
}

/* Header */

h1 {
    padding: 20px;
    margin: 0;

    color: white;
    font-size: 2.5em;
    text-align: center;
    
    background-color: #800020;
}

hr
{
    width: 95%;
    margin: 25px auto;

    background-color: black;
}

.sort_algorithm {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 20px;
}

#last-button
{
    border: none;
}

.sort_algorithm > button {
    transition: background-color 0.25s;

    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 50px;
    border-right: 1px solid black;

    /* Removes unwanted border radius on buttons */
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;

    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
    font-weight: bold;
}

.sort_algorithm > button:hover {
    color: white;

    background-color:#800020;
}

/* Control elements */

#control-panel
{
    display: flex;

    margin: 50px 0;
}

.bold
{
    font-weight: bold;
}

#instructions
{
    width: 95%;
    margin: 0 auto;
}

#stop-button
{
    padding: 5px 25px;
}

.wrapper
{
    margin-top: 20px;
    margin-bottom: 50px;
    border: 3px solid black;
}

.wrapper > div {
    display: flex;
}

.page-sidebar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    margin: 0 auto;
}

.page-sidebar > button {
    transition: background-color 0.25s;

    height: 100%;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 50px;
    border: 2px solid black;

    /* Removes unwanted border radius on buttons */
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;

    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 1.25em;
    font-weight: bold;

    background-color: #800020;
}

.page-sidebar > button[type=range] {
    
    cursor: pointer;
    margin: 25px;

    background-color: #800020;
}

.page-sidebar > button:hover {
    background-color:#a00000;
}

/* Array elements */

#array_container{
    position: relative;
    background: lightgrey;
    padding: 100px;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
}

#array_container .col{
    bottom: 0;
}

#array_container .col{
    position: relative;
}

/* Footer */

footer
{
    padding: 10px 0;

    background-color: #800020;
}

#footer-section
{
    display: flex;
    
    width: 95%;
    margin: 0 auto;
}

#footer-links
{
    width: 15%;
    padding-right: 15px;
}

#footer-text
{
    width: 70%;
    padding: 0 20px;
}

#footer-time-complexities
{
    width: 15%;
    padding-left: 15px;
}

ul, li
{
    margin: 0;
    padding: 0;
}

ul
{
    list-style: none;
}

li
{
    margin: 5px 0;
}

a
{
    transition: color 0.25s;

    color: #d4af37;
    text-decoration: none;
}

a:hover
{
    color: white;
}

p
{
    color: white;
}

.complexities
{
    color: white;
}