#array_container{
    position: relative;
    background: rgb(190, 204, 223);
    margin: 20px 30px 20px 30px;
    padding: 100px;
    width: 80%;
    height: 70vh;
    box-shadow: 0 0 10px 0 rgb(190, 204, 223);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#array_container .col{
    bottom: 0;
}

#array_container .col{
    position: relative;
}